/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*eliminar los puntitos*/
body {
  background-color: white;
  background-color: black;
}

header {
  background-color: #FFE5D9;
}

main {
  padding-bottom: 1rem;
  background-color: rgb(253, 253, 239);
  overflow: hidden;
  background-color: red;
}

section {
  background-color: aqua;
}

ul {
  list-style: none;
}

/* eliminar los linkeable*/
a {
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  margin-bottom: 0.5rem;
  color: solid black;
}

h1 {
  padding: 1.2rem;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}

h3 {
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
}

p {
  font-size: 1rem;
  text-align: left;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .section {
    height: 700px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
    text-align: center;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.25rem;
  }
}
header nav {
  border-bottom: 1px solid black;
}

/*
.container-fluid {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
*/
/*FOOTER*/
footer {
  background-color: rgb(247, 100, 156);
  height: 300px;
  width: 96.7vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 10px;
  color: white;
  bottom: 0;
  overflow: hidden;
}

.footer-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-contenedor h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-contenedor p {
  max-width: 500px;
  margin: 10px auto;
  padding-bottom: 25px;
  line-height: 28px;
  font-size: 1rem;
}
.footer-contenedor__social-icon {
  list-style: none;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem 0 3rem 0;
}
.footer-contenedor__social-icon li {
  margin: 0 10px;
}
.footer-contenedor__social-icon a {
  text-decoration: none;
  color: white;
}
.footer-contenedor__social-icon a i {
  transition: color 0.4s ease;
}
.footer-contenedor__social-icon a:hover i {
  color: black;
}

.footer-bottom {
  background: rgb(247, 100, 156);
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-align: center;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/*
@media (min-width:375px){
    footer {
        width: 96.7vw;
        overflow: hidden;
    }
}
*/
@media (min-width: 768px) {
  footer {
    width: none;
    width: 98.1vw;
    overflow: hidden;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  footer {
    width: 98.75vw;
    overflow: hidden;
  }
}
/*CARRUSEL*/
.carousel-inner {
  border: 1px solid rgb(182, 178, 178);
  width: 350px;
  height: 400px;
  max-width: 450px;
  overflow: hidden;
}
.carousel-inner img {
  height: 450px;
}

.itemcarrusel {
  border: 1px solid black;
  height: 450px;
  position: relative;
}

.tarjetacarrusel {
  background-color: rgb(16, 24, 21);
  height: 100%;
}

.flechascarrusel {
  position: absolute;
  top: 0;
  /*va a tomar su elemento mas cercano padre*/
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /*centrarlo con respecto al eje secundario*/
  /*deje unos pequenos espacios en los costados*/
}

.flechascarrusel a {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

img {
  width: 100%;
  height: 100%;
}

/*SECCION CONTACTO*/
.section-portafolio, .section-inicio, .section-productos, .section-equipo, .section-contacto {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .section-portafolio, .section-inicio, .section-productos, .section-equipo, .section-contacto {
    padding: 0 1.5rem 0 1.5rem;
    overflow: hidden;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .section-portafolio, .section-inicio, .section-productos, .section-equipo, .section-contacto {
    overflow: hidden;
  }
}
.section-contacto a i {
  color: #ee5cc9;
  margin-right: 1.25rem;
  font-size: 2rem;
}
.section-contacto a {
  color: black;
  padding: 0 1rem;
}
.section-contacto form input,
.section-contacto textarea {
  width: 100%;
  max-width: 350px;
  height: 30px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.section-contacto textarea {
  width: 100%;
  height: 150px;
}
.section-contacto__mapa1 {
  padding: 1rem;
}
.section-contacto__mapa2 {
  display: none;
}

.boton {
  font-size: 1rem;
  border: solid black;
  background-color: #ffcbf2;
  width: 100%;
  height: 40px;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all;
}

@media (min-width: 768px) {
  .section-contacto {
    display: flex;
  }
  .section-contacto a {
    font-size: 1.15rem;
  }
  .section-contacto__mapa1 {
    display: none;
  }
  .section-contacto__mapa2 {
    display: block;
    padding: 1rem;
  }
  .section-contacto form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section-contacto form input {
    max-width: none;
  }
  .section-contacto textarea {
    width: 100%;
    max-width: none;
  }
  .section-contacto__icons {
    display: flex;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .section-contacto {
    padding-left: 10vh;
    padding-right: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px 10vh;
    gap: 0.75rem;
  }
  .section-contacto__mapa1 {
    display: none;
  }
  .section-contacto form {
    grid-column: 1/2;
  }
  .section-contacto__icons {
    grid-column: 1/3;
  }
}
/*====EQUIPO===*/
.section-equipo__miembro {
  background-color: #ffcbf2;
  border: 1px solid rgb(182, 178, 178);
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  max-width: 300px;
}
.section-equipo__miembro h2 {
  color: white;
  font-weight: bold;
}
.section-equipo__miembro h3 {
  color: white;
}
.section-equipo__miembro img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .section-equipo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .section-equipo__miembro {
    max-width: none;
  }
  .section-equipo__miembro img {
    max-height: 400px;
    max-width: 350px;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .section-equipo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .section-equipo__miembro {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 0 0 0 0;
    width: 400px;
  }
  .section-equipo__miembro img {
    max-height: 350px;
    max-width: none;
  }
  .section-equipo__miembro p {
    padding: 0 2.5rem 0 2.5rem;
  }
}
/*   INICIO   */
.section-inicio img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(182, 178, 178);
}

/*tablet*/
@media (min-width: 768px) {
  .section-inicio {
    max-width: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
  .section-inicio img {
    max-width: none;
  }
  .section-inicio__presentacion {
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 0.5rem;
    border: 1px solid rgb(182, 178, 178);
  }
}
/*desktop*/
@media (min-width: 1200px) and (orientation: landscape) {
  .section-inicio {
    max-width: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 1px 25vh;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .section-inicio__presentacion {
    grid-column: 1/5;
    padding: 0.5rem;
  }
  .section-inicio img {
    height: 300px;
    max-width: 500px;
    border: solid rgb(182, 178, 178);
  }
  .section-inicio__img-destacada {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
/* PORTAFOLIO*/
.section-portafolio img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 300px;
  min-width: 200px;
}
.section-portafolio video {
  height: 400px;
}

@media (min-width: 1200px) and (orientation: landscape) {
  .section-portafolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
  .section-portafolio img {
    max-height: 450px;
    min-width: none;
    max-width: 400px;
  }
  .section-portafolio video {
    width: 100%;
  }
}
/*PRODUCTOS*/
.section-productos__producto {
  border: 1px solid rgb(182, 178, 178);
  padding: 1.5rem;
}
.section-productos__producto--descr {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-productos__producto .boton {
  font-size: 1rem;
  border: 1px solid black;
  background-color: #ffcbf2;
  height: 30px;
  width: 200px;
  border-radius: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .section-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .section-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    overflow: hidden;
    place-items: center;
  }
  #conteitemscarrusel {
    width: 100%;
    height: 400px;
    max-width: 300px;
  }
  .itemcarrusel {
    height: 400px;
  }
}

/*# sourceMappingURL=styles.css.map */
