
/*SECCION CONTACTO*/

.section-contacto a i {
    color: lightpink;
    margin-right: 1.25rem;

}

.section-contacto form input,
textarea {
    width: 100%;
    max-width: 300px;
    height: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.section-contacto textarea {
    width: 300px;
    height: 150px;
}

.section-contacto__mapa1 {
    padding: 1rem;
}

.section-contacto__mapa2 {
    display: none;
}

.btn-enviar {
    font-size: 1rem;
    border: solid black;
    background-color: rgb(255, 230, 234);
    width: 100%;
    max-width: 300px;
    border-radius: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: all;
}

@media (min-width: 768px) {
    .section-contacto__mapa1 {
        display: none;
    }

    .section-contacto {
        display: flex;
    }

    .section-contacto__mapa2 {
        display: block;
        padding: 1rem;
    }

    .section-contacto form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-contacto form input {
        max-width: none;
    }

    .section-contacto textarea {
        width: 100%;
        max-width: none;
    }

    .section-contacto__icons {
        display: flex;
    }
}


@media (min-width: 1200px) and (orientation:landscape) {
    .section-contacto__mapa1 {
        display: none;
    }

    .section-contacto {
        padding-left: 10vh;
        padding-right: 10vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 30vh 1fr;
        gap: 1rem;
    }

    .section-contacto form {
        grid-row: 1/3;
    }

    .section-contacto__icons {
        grid-row: 2/3;
    }
}