/*SECCION CONTACTO*/

.section {
    &-portafolio,
    &-inicio,
    &-productos,
    &-equipo,
    &-contacto {
        padding: 0 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 1rem;
        overflow: hidden;

    }
}

@media(min-width: 768px) {
    .section {

        &-portafolio,
        &-inicio,
        &-productos,
        &-equipo,
        &-contacto {
            padding: 0 1.5rem 0 1.5rem;
            overflow: hidden;
        }
    }
}
@media (min-width: 1200px) and (orientation:landscape) {
    .section {
        &-portafolio,
        &-inicio,
        &-productos,
        &-equipo,
        &-contacto {
            padding: 0 0 0 0;
            overflow: hidden;
        }
    }


}

.section-contacto {
    & a i {
        color: $c-rosa;
        margin-right: 1.25rem;
        font-size: 2rem;
    }
    & a{
        color: black;
        padding: 0 1rem;
    }

    & form input,
    textarea {
        width: 100%;
        max-width: 350px;
        height: 30px;
        padding: 1rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    & textarea {
        width: 100%;
        height: 150px;
    }

    &__mapa1 {
        padding: 1rem;
    }

    &__mapa2 {
        display: none;
    }
}

.btn-enviar {
    font-size: 1rem;
    border: $c-negro;
    background-color: $c-rosa;
    width: 100%;
    max-width: 300px;
    border-radius: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: all;
}

@media (min-width: 768px) {
    .section-contacto {
        display: flex;
        & a{
            font-size: 1.15rem;
        }

        &__mapa1 {
            display: none;
        }
        &__mapa2 {
            display: block;
            padding: 1rem;
        }
        & form {
            display: flex;
            flex-direction: column;
            width: 100%;

            & input {
                max-width: none;
            }
        }
        & textarea {
            width: 100%;
            max-width: none;
        }
        &__icons{
            display: flex;
        }
    }
}

@media (min-width: 1200px) and (orientation:landscape) {
    .section-contacto{
        padding-left: 10vh;
        padding-right: 10vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 500px 10vh;
        gap: 0;

        &__mapa1{
            display: none;
        }
        & form {
            grid-column: 1/2;
        }
        &__icons{
            grid-column: 1/3;
        }
    }
}