/*====EQUIPO===*/

.section-equipo__miembro {
    background-color:#ffcbf2/*#ffc6ff rgb(241, 173, 238)*/;
    border: 1px $c-gris;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    max-width: 300px;


    & h2{
        color: $c-blanco;
        font-weight: bold;
    }

    & h3{
        color:$c-blanco;
    }

    & img {
        width: 100%;
        height: 100%;
        border: 1px $c-negro;
    }
}

@media (min-width: 768px) {
    .section-equipo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &__miembro {
            max-width: none;
            display: flex;
            flex-direction: column;
            place-items: center;
            width: 350px;
            & img {
                max-height: 400px;
                max-width: 350px;
            }
        }
    }
}

@media (min-width: 1200px) and (orientation:landscape) {
    .section-equipo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        &__miembro{
            padding: 0 0 0 0;
            width: 350px ;
            & img{
                max-height: 350px;
                max-width: none;
            }
            & p{
                padding: 0 2.5rem 0 2.5rem;
            }
        }
    }
}