/*====EQUIPO===*/

.section-equipo__miembro {
    background-color: $c-blanco;
    border: 1px $c-gris;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    max-width: 300px;

    & img {
        width: 100%;
        height: 100%;
        border: 1px $c-gris;
    }
}

@media (min-width: 768px) {
    .section-equipo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &__miembro {
            max-width: none;
            & img {
                max-height: 400px;
                max-width: 350px;
            }
        }
    }
}

@media (min-width: 1200px) and (orientation:landscape) {
    .section-equipo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        &__miembro{
            &--especial {
                grid-column: 2/3;
            }
            & img{
                max-height: none;
                max-width: none;
            }
        }
    }
}