/*PRODUCTOS*/
.section-productos__producto {
    border: 1px $c-gris;
    padding: 1.5rem;

    &--descr {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .boton {
        font-size: 2rem;
        border: 1px $c-negro;
        background-color: $c-rosa ;
        height: 60px;
        width: 200px;
        border-radius: 2rem;
        text-align: center;
    }

}


@media (min-width: 768px) {
    .section-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1200px) and (orientation:landscape) {

    .section-productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 4rem;
        place-items: center;
   
        &__producto--especial {
            grid-column: 2/3;
        }
    }
    
    #conteitemscarrusel {
        width: 350px;
        height: 450px;
        max-width: 550px;
    }

    .itemcarrusel {
        height: 450px;
    }

}