/*SECCIONES*/

.section-portafolio,
.section-inicio,
.section-productos,
.section-equipo,
.section-contacto {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2rem;

}
